header{
    display: flex;
    text-align: left;
    /* border: 3px solid gray; */
    background-color: #ffffff75;
    padding: 30px;
    border: 5px solid black;
    border-radius: 30px;
    padding-left: 10px;
}
*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* .container{
    margin-left: 400px;
    margin-right: 400px;
} */
body{
    margin-left: 400px;
    margin-right: 400px;
    background-image: url('../img/panorama2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    align-content: flex-start;
}

.glavni-grb{
    /* transform: scale(0.5);
    transform-origin: top left; */
    height: 240px;
    width: 240px;
    display: flex;
    padding-right: 5px;
    transform: translateX(-100%);
    animation: slideInLeft 1s ease-out forwards;
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@keyframes slideInLeft {
    from {
        opacity: 0;
    }
    to {
        transform: translateX(0);
    }
}
.meni{
    height: 100px;
    display: flex;
    align-content: flex-start;
    justify-content: left;
}

.meni-lista{
    display: flex;
    flex-direction: row;
    gap: 40px;
    list-style-type: none;
    padding-left: 0px;
}

.meni-dugme{
    display: flex;
    padding: 5px;
    border-radius: 4px;
    background-color: rgb(33, 64, 154);
    justify-content: center;
    text-align: center;
    align-items: center;
    /* border: 4px solid rgb(237, 28, 36); */
    width: 100px;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
    transition: background-color 0.3s ease;
}

.meni-dugme:hover{
    background-color: rgb(237, 28, 36);
    border-color: rgb(33, 64, 154);
}

.meni-link{
    text-decoration: none;
    color: white;
    /* height: 40px; */
}

.aktivan{
    background-color: rgb(5, 29, 101);
    font-weight: bold;
}

.naslov{
    height: 100px;
    display: flex;
    text-shadow: 4px 4px 6px #000000;
    color: white;
}

main{
    /* display: flex; */
    text-align: left;
    /* border: 3px solid gray; */
    background-color: rgba(255, 255, 255, 0.912);
    padding: 30px;
    border: 5px solid black;
    border-radius: 30px;
    padding-left: 10px;
}

footer{
    display: flex;
    text-align: center;
    /* border: 3px solid gray; */
    background-color: #ffffff75;
    padding: 30px;
    border: 5px solid black;
    border-radius: 30px;
    padding-left: 10px;
    color: white;
    align-content: center;
    align-items: center;
}

.footer-grb{
    height: 100px;
    width: 100px;
}

.mapa{
    height: 467px;
    width: 350px;
}

.mapa-par{
    text-align: center;
}

.lista{
    display: flex;
    gap: 70px;
    justify-content: center;
    flex-direction: column;
}
.bg{
    padding: 20px;
    border: 3px solid black;
    background-color: white;
    border-radius: 30px;
    text-align: center;
    margin-bottom: 20px;
}

.opstine{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}
.gradske, .prigradske{
    flex: 1;
    /* justify-items: center; */
}
.gradske{
    /* padding-left: 18px; */
    padding: 20px;
    border: 3px solid black;
    background-color: white;
    border-radius: 30px;
}

.prigradske{
    border: 3px solid black;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
}

.naslov-glavna{
    text-align: center;
}

.lista-link{
    color: rgb(19, 78, 255);
    text-decoration: none;
}

.naslov-lista{
    text-align: center;
}

.paragrafi{
    padding: 30px 30px;

}

/* .lista-slika{
    height: 140px;
    width: 140px;
} */


form{
    display: flex;
    flex-direction: column;
    width: 40%;
    
}
textarea{
    max-width: 400px;
    max-height: 400px;
}

.footer-par{
    text-shadow: 2px 2px 4px #000000;
}